<div>
  <app-navbar-cheft></app-navbar-cheft>
</div>
<div>
  <div class="modal.show()" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Codigo</h5>
          <small>Tiempo estimado: 15 min</small>
          <small>Tiempo restante: 6 min</small>
        </div>
        <div class="modal-body">
          <p>Cuerpo del pedido</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#terminarPedido">Terminar pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal crear Plato-->
<div  class="modal fade" id="terminarPedido" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rechazarPedidoID">El pedido se ha terminado y esta listo para ser entregado al cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
