<div>
  <app-navbar-cheft></app-navbar-cheft>
</div>
<div>
  <div class="modal.show()" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Codigo del Pedido</h5>
        </div>
        <div class="modal-body">
          <p>Datos del pedido</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#aceptarPedido">Aceptar Pedido</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rechazarPedido">Rechazar Pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Plato-->
<div  class="modal fade" id="aceptarPedido" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aceptarPedidoID">El pedido ha sido aceptado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal crear Plato-->
<div  class="modal fade" id="rechazarPedido" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rechazarPedidoID">El pedido ha sido rechazado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
