<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/SVG/pina.svg" alt="Pina">
  <form #form="ngForm" id='ourForm' (ngSubmit)="login(form)">

    <div id='myDiv'>
      <ion-input [(ngModel)]="this.correo" [ngModelOptions]="{standalone: true}" type="email" placeholder="tu@email.com"
        ngModel required></ion-input>

      <ion-input [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}" type="password"
        placeholder="Constraseña" ngModel required></ion-input>
    </div>
    <ion-button shape='round' type="submit" [disabled]="form.invalid" >Ingresar</ion-button>

    <p>
      Si no tienes una cuenta, te puedes <a routerLink='/register'>
        registrar</a>.
    </p>

  </form>

</ion-content>
