<app-navbar-administrador></app-navbar-administrador>
<!--  -->
<div *ngFor="let item of contenido">
  <div class="row" >
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">

      {{item.Numero}}({{item.Cedula_chef_asignado}}o)
    </button>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ID-DEL-PEDIDO(CEDULA-CHEFT)</h5>
          <small>Tiempo del pedido:</small>
        </div>
        <div class="modal-body">
          CUERPO-DEL-PEDIDO
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -->

