<app-navbar-administrador></app-navbar-administrador>
<!--  -->
<div class="opacidad">
  <div *ngFor="let item of contenido">
    <div class="row col margenes" >
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Ver_platos_pedido(item.Numero)">
        {{item.Numero}}({{item.Cedula_chef_asignado}})
      </button>
    </div>
  </div>
</div>
<div >
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ID-DEL-PEDIDO(CEDULA-CHEFT)</h5>
          <small>Tiempo del pedido:</small>
        </div>
        <div *ngFor = "let valor of platos_con_nombre" class="modal-body">
          {{valor.nombre}}{{valor.cantidad}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -->
