<div>
  <app-navbar-administrador></app-navbar-administrador>
</div>
<div *ngFor="let item of contenido">
  <div class="modal.show() ">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title">Pedido:{{item.name}}</h5>
        </div>
        <div class="modal-body">
          <p>Plato: {{item.plato1}} ₡: {{item.precio1}}</p>
          <p>Plato: {{item.plato2}} ₡: {{item.precio2}}</p>
          <p>Plato: {{item.plato3}} ₡: {{item.precio3}}</p>
          <p>Plato: {{item.plato4}} ₡: {{item.precio4}}</p>
          <p>Plato: {{item.plato5}} ₡: {{item.precio5}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
