<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand h1">restTEC(chef)</a>
    <button class="navbar-toggler" type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link btn-dark" routerLink="pedidosActivos" >Pedidos Activos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-dark" routerLink="tomaPedidos" >Tomar Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-dark" routerLink="controlPedidos">Control de pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-dark" routerLink="reasignarPedidos">Reasignar Pedidos</a>
        </li>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" routerLink="">
      </button>
    </div>
  </div>
</nav>
