<h1>Platos</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add plato</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Role</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plato of platos">
            <td>{{plato.title}} {{plato.firstName}} {{plato.lastName}}</td>
            <td>{{plato.email}}</td>
            <td>{{plato.role}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{plato.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deletePlato(plato.id)" class="btn btn-sm btn-danger btn-delete-plato" [disabled]="plato.isDeleting">
                    <span *ngIf="plato.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!plato.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!platos">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>