<div class="col-6">
  <div class="container">
    <div class="col align-self-start">
      <form>
        <div class= "row">
          <label>
            Correo Electronico:
          </label>
          <input type="email" name="email" class="email_From" id="InputEmail1" placeholder="Correo Electronico"
                 aria-label="CorreoElectronico" required="" #Correo ="ngModel" [(ngModel)] = "manejoLogin.correoElectronico">
        </div>
        <div class="row">
          <label>Contraseña</label>
          <input type="password" name="password" class="pasword_Emanil" id="InputPassword" placeholder="Contraseña"
                 aria-label="contraseña"required="" #password ="ngModel" [(ngModel)] = "manejoLogin.password" >
        </div>
        <div class="row" class = "button">
          <button type="submit" class="btn btn-primary" (click)="goTo()">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>



