.container{
  top: 50px;
  left: 50px;
  background: lightblue;
  padding: 30px;
  margin-top:200px;
  align-items: center;
}

.email_From{
  padding: 5px;
  margin: 10px;
}
.pasword_Emanil{
  padding: 5px;
  margin: 10px;
}
.button{
  padding: 10px;
}

.col-6{
  margin: 0 auto;
}

