body{
    background: #d4d4ce;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  

  }

  html { 
    background: #d4d4ce  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px;
  }

