<app-navbar-chef></app-navbar-chef>

<div class="card text-center">
  <div class="card-header" *ngFor="let item of sin_pedidos">
    <h5 class="card-header btn-light" (click)="Ver_platos_pedido(item)">ID-DEL-PEDIDO: {{item.Numero}}</h5>
  </div>
  <div class="card-body">
    <div  *ngFor="let valor of platos_con_nombre">
      <h5 class="card-title">Nombre del Plato:{{valor.nombre}}</h5>
      <p class="card-text">Cantidad de Platos: {{valor.cantidad}}</p>
      <h5 class="card-title">Tiempo Aproximado</h5>
      <p class="card-text">Minutos: JSON</p>
    </div>
    <button type="button" class="btn btn-secondary espacio"  data-bs-dismiss="modal" (click)="aceptarPedido()">Aceptar Pedido</button>
    <button type="button" class="btn btn-secondary espacio" data-bs-dismiss="modal">Rechazar Pedido</button>  </div>
</div>
