.espacio{
  margin-right: 10px;
}

.contenedor{
  background-color: white;
}
.h{
  background: #d4d4ce;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position:relative;
  top: 0;
  left: 0;
}

button {
  margin-top: 25px;
  margin-left: 35%;
  width: 30%;
  height: auto;
  font-size: medium;
  text-transform: initial;
  border-radius: 50px;
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
  color: #051821;
  border: transparent;

}

button:hover{
  background: linear-gradient(65deg, #f58800, #d87800);
}