

.espacio{
  margin-right: 10px;
}



.margenes{
  margin-top: 10px;
}

#acordeon{
  width: 20%;
  margin-left: 40%;
  margin-top: 10px;
  border: transparent;
  margin-bottom: 10px;
  color: #051821;
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
  border-radius: 20px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
}

#tarjeta {
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  font-weight: 600;
  color: #051821;
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
  border-radius: 20px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
}

#acordeon:hover{
  background: linear-gradient(65deg, #f58800, #d87800);
}

body{
  background: #d4d4ce;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

}

#myButton {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
  border: transparent;
  padding: 5px;
  color: #f6f1e8;
  height: auto;
  font-size: medium;
  text-transform: initial;
  border-radius: 50px;
  background-color: #266867;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;

}

#myButton:hover{
  background-color: #1e2f37;
}