<app-navbar-administrador xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></app-navbar-administrador>

<div *ngIf="mostrar">
  <div *ngFor="let item of datosActual">
    <div class="list-group list-group-item-light">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nombre del Plato: {{item.plato.Nombre}}</h5>
          <small class="text-muted">TIPO DE PLATO: {{menuActual.Tipo}}</small>
        </div>
        <div class="text-center">
          <h5>CALORIAS:</h5>
          <p>{{item.datosMenu.Calorias}}</p>
          <h5>PRECIO:</h5>
          <p>{{item.datosMenu.Precio}}</p>
          <h5>TIEMPO DE PREPARACION</h5>
          <p>{{item.plato.Tiempo_preparacion}}</p>
          <button type="button" (click)="verplatoenmenu(item.plato,item.datosMenu)"  class="btn btn-danger espacio" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#eliminarPlatoMenu">ELIMINAR PLATO DEL MENU</button>
          <button type="button"(click)="verplatoenmenu(item.plato,item.datosMenu)" class="btn btn-secondary espacio" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editarPlatoMenu">EDITAR PLATO</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let item of menus">
  <button (click)="mostraOcular(item)" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
    {{item.Tipo}}
  </button>
</div>

<div class="modal fade" id="editarPlatoMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <label>Nombre del Plato: {{platoActual.Nombre}} </label>
          <label>Plato-ID: {{platoActual.Numero_plato}}</label>
        </div>
        <div class="modal-body">

          <label>Calorias: </label>
          <div class="input-group mb-3">
            <span class="input-group-text">Kcal</span>
            <input type="number" class="form-control" #calorias="ngModel" [(ngModel)]="platoenMenu.Calorias" required="">
          </div>
          <label>Precio:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">₡</span>
            <input type="number"   class="form-control" #precio="ngModel" [(ngModel)]="platoenMenu.Precio" required="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="editar_plato_en_menu()" class="btn btn-danger" data-bs-dismiss="modal">ACEPTAR</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="eliminarPlatoMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarPlatoMenuLabel">¿ Esta seguro que desea desligar a este plato del menu ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="eliminar_plato_en_menu()" class="btn btn-danger" data-bs-dismiss="modal">ACEPTAR</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >CANCELAR</button>
        </div>
      </div>
    </div>
  </div>




<!--LISTO-->


<div class="row">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#eliminarMenu1">ELIMINAR MENU</button>
</div>

<div class="row">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#agregarMenu">AGREGAR MENU</button>
</div>

<div class="modal" id="agregarMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title" id="agregarMenuLabel">Nombre del Menu:</label>
        <input class="form-control" #Tipoo="ngModel" [(ngModel)]="tipo_menu" type="text"><!--Este es el input-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="agregar_menu(tipo_menu)" data-bs-dismiss="modal">AGREGAR MENU</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="eliminarMenu1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title" id="eliminarMenu1Label">Nombre del Menu:</label>
        <input class="form-control"#Tip="ngModel" [(ngModel)]="tipo_menu" type="text"><!--Este es el input-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="eliminar_menu(tipo_menu)">ELIMINAR MENU</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>




<!--LISTO-->
<div class="row" *ngFor="let item of platos_sin_menu">
  <div class="card">
    <div class="card-header text-center">
      Nombre del plato sin enlazar: {{item.Nombre}}
    </div>
    <div class="card-body">
      <div class="row">
        <button type="button"(click)="verplato(item)"  class="btn btn-secondary margenes" data-bs-toggle="modal" data-bs-target="#agregarPlatoMenu"> Enlazar</button>
      </div>
    </div>
  </div>
  </div>



  <div class="modal fade" id="agregarPlatoMenu" tabindex="-1" data-bs-toggle="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarPlatoMenuLabel">Nombre del Plato a asociar: {{platoActual.Nombre}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>TIPO DE PLATO:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">Tipo</span>
            <input type="text" class="form-control" #Tipo="ngModel" [(ngModel)]="enlaceCreado.Tipo" required="">
          </div>

          <label>CALORIAS:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">Kcal</span>
            <input type="number" class="form-control" #cal="ngModel" [(ngModel)]="enlaceCreado.Calorias" required="">
          </div>

          <label>Precio:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">₡</span>
            <input type="number" class="form-control"  #prec="ngModel" [(ngModel)]="enlaceCreado.Precio" required="">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="agregar_plato_menu(enlaceCreado.Tipo, enlaceCreado.Calorias,enlaceCreado.Precio)">GUARDAR</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="eliminarMenu" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarMenuLabel">
            ¿Esta seguro que desa eliminar el menu? , Todos los platos quedaran desligados
            del menu
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ACEPTAR</button>
          <button type="button" class="btn btn-secondary">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>
