<app-navbar-administrador></app-navbar-administrador>
<div class="margenes">
  <table class="table table-secondary">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del cliente</th>
      <th scope="col">Cantidad de Platos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Tomas Segura</td>
      <td>55</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bryan Leon</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Natalie Portman</td>
      <td>48</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Juan Solis</td>
      <td>44</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Pepe Reina</td>
      <td>35</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Cesc Fàbregas</td>
      <td>33</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Cristiano Ronaldo</td>
      <td>31</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>David Bisbal</td>
      <td>28</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Will Smith</td>
      <td>26</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Armando Maradona</td>
      <td>23</td>
    </tr>
    </tbody>
  </table>
</div>
