<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Califica del 1 al 5 tu pedido.</ion-card-title>
    <ion-range value='1' snaps="true" color='warning' min='1' max='5' step="1">
      <ion-icon size="small" color='warning' name="star" slot="start"></ion-icon>
      <ion-icon size="medium" color='warning' name="star" slot="end"></ion-icon>
    </ion-range>
    <ion-card-content *ngFor="let pedido of platos.l_platos">
      {{pedido.nombre}}
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-button size="block" color='warning' (click)='dismiss()'>Enviar</ion-button>
  </ion-footer>
  

</ion-content>
