<html>


<app-navbar-administrador></app-navbar-administrador>
<div class="margenes">
  <table class="table table-secondary">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del plato</th>
      <th scope="col">Ganancias</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>GalloPinto</td>
      <td>₡ 321 000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cereal con leche</td>
      <td>₡ 291 000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lentejas con platano maduro</td>
      <td>₡ 223 000</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Sopa azteca</td>
      <td>₡ 177 350</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Piacadillo de aracache</td>
      <td>₡ 150 000</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Sopa negra</td>
      <td>₡ 87 000</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Chicharrones</td>
      <td>₡ 86 000</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Hamburguesa con papas</td>
      <td>₡ 83 000</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Tacos Mexicanos</td>
      <td>₡ 75 000</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Pizza</td>
      <td>₡ 50 000</td>
    </tr>
    </tbody>
  </table>
</div>
</html>