<app-navbar-chef></app-navbar-chef>

<!--  -->
<div class="row">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ID-DEL-PEDIDO (Cedula del cheft)
  </button>
</div>

<!---->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ID-DEL-PEDIDO</h5>
        <small>Tiempo Restante</small>
      </div>
      <div class="modal-body">
        CUERPO-DEL-PEDIDO
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Reasignar Pedido</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar Pedido reasignado</button>
      </div>
    </div>
  </div>
</div>
