.contenedor{
  background-color: white;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
button {
  margin-top: 25px;
  margin-left: 35%;
  width: 30%;
  height: auto;
  font-size: medium;
  text-transform: initial;
  border-radius: 50px;
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
  color: #051821;
  border: transparent;

}

button:hover{
  background: linear-gradient(65deg, #f58800, #d87800);
}
