<div class="card mt-4">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="platos" class="nav-link">Gestión de Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </div>
    </nav>
    <h4 class="card-header">You're logged as Admin!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>