<app-navbar-chef></app-navbar-chef>

<h2> Pedidos Activos</h2>
<div *ngFor="let item of sin_pedidos">
  <div class="row">
    <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Ver_platos_pedido(item)">
      ID-DEL-PEDIDO: {{item.Numero}}
    </button>
  </div>
</div>
<!--  -->

<!---->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ID-DEL-PEDIDO {{pedidoActual.Numero}}</h5>
        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body" *ngFor="let valor of platos_con_nombre">
        Nombre del Plato:{{valor.nombre}} Cantidad de Platos: {{valor.cantidad}}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
