<html>
<app-navbar-administrador></app-navbar-administrador>
<div class="margenes">
  <button type="button" class="btn btn-secondary" (click)="generarpdf()">Generar pdf</button>
  <table class="table color">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del plato</th>
      <th scope="col">Puntuacion Promedio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of PlatosFeedback; let i = index" [attr.data-index]="i">
      <th scope="row">{{i}}</th>
      <td>{{item.Nombre}}</td>
      <td>{{item.Promedio}}</td>
    </tr>
    </tbody>
  </table>
</div>
</html>
