<html>
<app-navbar-administrador></app-navbar-administrador>
<div class="margenes">
  <table class="table color">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del plato</th>
      <th scope="col">Cantidad de estrellas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>GalloPinto</td>
      <td>5 estrellas</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Lentejas con platano maduro</td>
      <td>5 estrellas</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cereal con leche</td>
      <td>4.8 estrellas</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Sopa negra</td>
      <td>4.7 estrellas</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Chicharrones</td>
      <td>4.4 estrellas</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Sopa Azteca</td>
      <td>4 estrellas</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Picadillo de aracache</td>
      <td>3 estrellas</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Hamburguesa con papas</td>
      <td>3 estrellas</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Tacos Mexicanos</td>
      <td>3 estrellas</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Pizza</td>
      <td>2.3 estrellas</td>
    </tr>
    </tbody>
  </table>
</div>
</html>
