.margenes{
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  font-weight: 600;
  color: #051821;
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
  border-radius: 20px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
}
.color{
  background: linear-gradient(65deg, #d4d4ce, #f6f1e8);
}
html{
  background: #d4d4ce;
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position:fixed;
  top: 0;
  left: 0;
}
#myButton {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
  border: transparent;
  padding: 5px;
  color: #f6f1e8;
  height: auto;
  font-size: medium;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
}
