<app-navbar-chef></app-navbar-chef>

<div class="alert alert-danger" role="alert" id = 'myAlert'>
  El chef(ID-CHEF QUE ENVIA) necesita ayuda con el pedido: (ID-DEL-PEDIDO)
  <hr>
  <button type="button" class="btn btn-secondary espacio" data-bs-dismiss="alert">ACEPTAR PEDIDO</button>
  <button type="button" class="btn btn-danger espacio" data-bs-dismiss="alert">RECHAZAR PEDIDO</button>
</div>


<div *ngFor="let item of sin_pedidos">
  <ul class="list-group">
    <button type="button" class="btn contenedor" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Ver_platos_pedido(item)">
      ID-DEL-PEDIDO: {{item.Numero}} TIEMPO DEL PEDIDO: {{item.Tiempo_estimado}} min
    </button>
  </ul>
</div>

<!---->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ID-DEL-PEDIDO {{pedidoActual.Numero}}</h5>
        <small></small>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let valor of platos_con_nombre">
        Nombre del Plato:{{valor.nombre}} Cantidad de Platos: {{valor.cantidad}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="terminarPedido()">Terminar Pedido</button>
      </div>
    </div>
  </div>
</div>



