<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand h1">Administrador: {{Cedula}}</a>
    <button class="navbar-toggler" type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " (click)="navegation('pedidosSistema')" >Pedidos en el sistema</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  (click)="navegation('getionDePlatos')">Gestion De Tipos De Platos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="navegation('gestionMenu')" >Gestion Del Menu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TOP 10
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><a id='myLi' class="dropdown-item" (click)="navegation('top10MasGanancias')">Top 10 platos con mas ganacinas</a></li>
            <li ><a id='myLi' class="dropdown-item" (click)="navegation('top10MasVendidos')">Top 10 platos mas vendidos</a></li>
            <li ><a id='myLi' class="dropdown-item" (click)="navegation('top10MejorFeedback')">Top 10 platos con mejor feedback</a></li>
            <li ><a id='myLi' class="dropdown-item" (click)="navegation('top10MejoresClientes')">Top 10 mejores clientes</a></li>
          </ul>
        </li>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" routerLink="">
      </button>
    </div>
  </div>
</nav>
