<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pedido of pedidosMuestra">
    <ion-card-content>
      <p>
        <ion-label color='success'>
          <ion-icon name="checkmark-circle"></ion-icon> <strong> {{pedido.estado}} </strong>
        </ion-label>
      </p>
      <p>
        <ion-icon name="calendar-outline"></ion-icon> {{pedido.fecha}}
      </p>
      <p>
        <ion-icon name="fast-food"></ion-icon> {{pedido.chef}}
      </p>
      <ion-button (click)=presentarFeedback(pedido.menu)  shape="round" size='small'>Feedback</ion-button>
      <p> </p>
      <hr size="8" width="100%" color="grey">

      <ion-list *ngFor='let plato of pedido.menu'>
        <ion-item>
          <p>{{plato}}</p>
        </ion-item>
      </ion-list>
      <hr size="8" width="100%" color="grey">
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)=mostrarPedidoEnProgreso()>
    <ion-badge color="danger" style="left: -3px;top:-3px; z-index: 3; position: absolute;">{{this.getPedidosEnProgreso()}}</ion-badge>
    <ion-fab-button>
      <ion-icon name="hourglass-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- <app-explore-container name="Aquí verás tus Pedidos"></app-explore-container> -->
</ion-content>
