<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let pedido of pedidosMuestra">
    <ion-card-content>
      <p>
        <ion-label color='success'>
          <ion-icon name="checkmark-circle"></ion-icon> <strong> {{(pedido.pedido.Estado.slice(0,5) == 'pedir') ? 'Completado' : pedido.pedido.Estado}} </strong>
        </ion-label>
      </p>
      <p> 
        <ion-icon name="fast-food"></ion-icon> CHEF: {{pedido.pedido.Cedula_chef_asignado}}
      </p>
      <ion-button  [attr.disabled]="(pedido.pedido.Estado!='Preparado') ? true : false "  (click)='presentarFeedback(pedido)' shape="round" size='small'>Feedback</ion-button>
      <p> </p>
      <hr size="8" width="100%" color="grey">

      <ion-list *ngFor='let plato of pedido.l_platos'>
        <ion-item>
          <p>{{plato.cantidad}} {{plato.nombre}}</p>
        </ion-item>
      </ion-list>
      <ion-progress-bar value='{{pedido.pedido.Tiempo_transcurrido/ pedido.pedido.Tiempo_estimado}}' color='danger'></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)=mostrarPedidoEnProgreso()>
    <ion-badge color="danger" style="left: -3px;top:-3px; z-index: 3; position: absolute;">{{this.getPedidosEnProgreso()}}</ion-badge>
    <ion-fab-button>
      <ion-icon name="hourglass-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
