<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card *ngFor="let pedido of pedidosMuestra">
    <ion-card-header>
      <ion-card-subtitle>{{pedido.estado}}</ion-card-subtitle>
      <ion-card-title>{{pedido.menu}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{pedido.fecha}}.
      Chef: {{pedido.chef}}.
      Tiempo transcurrido: {{pedido.tiempo_estimado}}.
    </ion-card-content>
  </ion-card>



  <!-- <app-explore-container name="Aquí verás tus Pedidos"></app-explore-container> -->
</ion-content>