<app-navbar-administrador></app-navbar-administrador>


<div class="card text-center bg-light">
  <h5 class="card-header">Nombre del Plato     NumeroDePlato</h5>
  <div class="card-body">
    <h5 class="card-title">Tiempo de Preparacion:</h5>
    <p class="card-text">JSON</p>
    <h5 class="card-title">Desrcipcion del plato</h5>
    <p class="card-text">DESCPPCION DEL JSON</p>
    <a class="btn btn-secondary posicion" data-bs-toggle="modal" data-bs-target="#editarPlatoMenu">Editar Plato</a>
    <a class="btn btn-secondary posicion" >Eliminar Plato</a>
  </div>
</div>

<div class="row">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#agregarPlato">Agregar Plato</button>
</div>



<div class="modal fade" id="editarPlatoMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarPlatoMenuLabel">EDITAR: NOMBRE DEL PLATO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label>Nueva descripcion del plato:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregarPlato" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" id="nombrePlatoID" placeholder="Nombre del nuevo plato" #Nombre ="ngModel" [(ngModel)] = "plato.Nombre">
      </div>
      <div class="modal-body">

        <label>Tiempo de preparacion:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">min</span>
          <input type="number" class="form-control" #Tiempo ="ngModel" [(ngModel)] = "plato.Tiempo_preparacion">
        </div>

        <div>
          <label>Descripcion del plato:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #descripcion ="ngModel" [(ngModel)] = "plato.Descripcion"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="crearPlato(plato.Nombre , plato.Descripcion , plato.Tiempo_preparacion)">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


