<ion-header>
  <ion-toolbar>
    <ion-title>En progreso</ion-title>
    <ion-button size="small" slot="end" color='tertiary' (click)=dismiss()>Cerrar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescarPedido($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Refrescar"
      refreshingSpinner="circles"
      refreshingText="">




    </ion-refresher-content>
  </ion-refresher>
</ion-content>
